:root{
    --size: 100px;
    --difference: 40px;
}

#previous{
    position: absolute;
    right: 50%;
    bottom: 5%;
}
#submit{
    position: absolute;
    left: 50%;
    bottom: 5%;
}

.disabled{
    opacity: 0.4;
    pointer-events: none;
}

#pieces{
    background: green;
    width:20%;
    height: 70%;
    position: absolute;
    left: 5%;
}

canvas{
    position: absolute;
    right: 5%;
    background-color: tan;
}

#floorEdit, #floorMap, #testimg{
    position: absolute;
    right:5%;
    width: 700px;
    height: 700px;
}

.floorCheckbox, button{
    position:absolute;
    padding : 0;
    margin:0;
    z-index: 1;
}