:root{
    --size: 100px;
    --difference: 40px;
}

#generate{
    position: absolute;
    left: 50%;
    bottom: 5%;
}

.disabled{
    opacity: 0.4;
    pointer-events: none;
}

#pieces{
    background: darkgreen;
    color: white;
    width:20%;
    height: 70%;
    position: absolute;
    left: 5%;
    padding: 2%;
}

#script{
    background: navy;
    color: white;
    width:23%;
    height: 70%;
    position: absolute;
    left: 30%;
    padding: 2%;
}

canvas{
    position: absolute;
    right: 5%;
    background-color: tan;
}

#floorEdit, #floorMap, #testimg{
    position: absolute;
    right:5%;
    width: 700px;
    height: 700px;
}

button{
    position:absolute;
    z-index: 1;
}

#floorDropdown, #wallDropdown{
    position: absolute;
    background-color: cyan;
    z-index: 1;
    visibility: hidden;
}

img{
    position: absolute;
}

.draggable {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    cursor: move;
}