<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/styles.css'>
    <title>Escape Room Builder</title>
</head>

<body>
    <h1>Escape Room Builder</h1>

    <h2>File Content:</h2>
    <pre>{{ file_content }}</pre>

    <h2>Sections:</h2>
    {% for section, content in sections.items() %}
        <h3>{{ section }}</h3>
        <ul>
            {% for item in content %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>

</html>
