<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/finalProduct.css">
    </head>
    <body>
        <div id="buttons-container">
            <button id="previous" onclick="redirectToRoomLayout()"> Layout </button>
            <form id="pdfForm" action="/generatePDF" method="post">
                <input type="hidden" id="canvasContent" name="canvas_content">
                <input type="hidden" id="consoleOutput" name="console_output">
                <input type="submit" id="generate-pdf" value="Generate PDF">
            </form>
        </div>
        <pre id="pyOutput">

        </pre>
        <canvas id="roomCanvas" width="700px" height="700px"></canvas>
        <script src="/static/js/finalProduct.js"></script>
        <script>
            var pdfkit = '{{ pdfkit }}';
        </script>
        <script>
            function redirectToRoomLayout() { //for final: go to theme
                console.log("Redirecting to Layout");
                window.location.href = "/roomLayout";
            }
        </script>
    </body>
</html>