<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/roomLayout.css">
    </head>
    <body>
        <canvas id="roomCanvas" width="700px" height="700px"></canvas>
        <script src="/static/js/finalProduct.js"></script>
        <script>
            function redirectToRoomLayout() { //for final: go to theme
                console.log("Redirecting to Layout");
                window.location.href = "/roomLayout";
            }
        </script>
        <button id="previous" onclick="redirectToRoomLayout()"> Layout </button>
    </body>
</html>