<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="static/htnp.css">
</head>
<body>

<div class="instructions">
    <p> Use this page to organize your ideas as you follow the creative process! You can add tasks and subtasks to each diagram by double clicking the text in each box.</p> 
</div>   

<button id="addDiagramButton">Add Diagram</button>
<button id="removeDiagramButton">Remove Diagram</button>

<div class="container clearfix" id="main">
    <!-- <div class="diagram-container" id="diagram1"></div>
    <div class="diagram-container" id="diagram2"></div>
    <div class="diagram-container" id="diagram3"></div>
    <div class="diagram-container" id="diagram4"></div>
    <div class="diagram-container" id="diagram5"></div>
    <div class="diagram-container" id="diagram6"></div>
    <div class="diagram-container" id="diagram7"></div>
    <div class="diagram-container" id="diagram8"></div>
    <div class="diagram-container" id="diagram9"></div>
    <div class="diagram-container" id="diagram10"></div> -->
</div>

<script src="static/js/htnp2.js"></script>
</body>
</html>