<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/roomLayout.css">
    </head>
    <body>
        <title>Robot Escape Room Designer</title>

        <div id="pieces">
            Left click on the canvas to add or remove a floor section.<br/>
            Right click a floor or wall section to bring up a menu for it. <br/>
            Left click and drag the sections of text to different rooms. <br/>
        </div>

        <div id="script" style="overflow-y:scroll;">
            <h2>Sections:</h2>
            {% for section, data in sections.items() %}
                <div class="draggable" draggable="true" ondragstart="drag(event)">
                    <h3>{{ data.title }}</h3>
                    <ul>
                        {% for item in data.content %}
                            {% if item.strip() != '' %}
                                <li>{{ item }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        <script>

            function drag(event) {
                ev.dataTransfer.setData("text/plain", ev.target.id);
            }

            function redirectToFinal() {
                console.log("Redirecting to final route");
                window.location.href = "{{ url_for('final') }}";
            }

        </script>

        <canvas id="roomCanvas" width="700px" height="700px"></canvas>
        <div id="floorEdit">
            <div id="floorDropdown" dropzone="copy">
                <select name="floorType" id="floorSelect"><option value="floor">Plain floor</option></select><br/>
                <button id="deleteFloor" onclick="removeSelectedFloor()">Remove Section</button>
            </div>
            <div id="wallDropdown" dropzone="copy">
                <select name="wallType" id="wallSelect"><option value="wall">Plain wall</option></select>
            </div>
        </div>
        <map name="floorMap" id="floorMap"></map>
        <img id="testimg" usemap="#floorMap">

        <button id="generate" onclick="redirectToFinal()"> Save Layout </button>
        <script src="{{url_for('static', filename='js/roomLayout.js')}}"></script>
        <script src="{{url_for('static', filename='js/roomState.js')}}"></script>
          
    </body>
</html>